{% if cookiecutter.database == "mongo" %}
from beanie import PydanticObjectId
{% endif %}
from src.pydantic_base import BaseSchema


class CreateUser(BaseSchema):
    {%- if cookiecutter.innohassle_accounts %}
    innohassle_id: str
    {%- endif %}
    {%- if cookiecutter.login_and_password %}
    login: str
    password: str
    {%- endif %}
    {%- if not cookiecutter.innohassle_accounts and not cookiecutter.login_and_password %}
    pass
    {%- endif %}


class ViewUser(BaseSchema):
    {%- if cookiecutter.database == "postgres" %}
    id: int
    {%- elif cookiecutter.database == "mongo" %}
    id: PydanticObjectId
    {%- endif %}
    {%- if cookiecutter.innohassle_accounts %}
    innohassle_id: str
    {%- endif %}


class UserAuthData(BaseSchema):
    {%- if cookiecutter.database == "postgres" %}
    user_id: int
    {%- elif cookiecutter.database == "mongo" %}
    user_id: PydanticObjectId
    {%- endif %}
    {%- if cookiecutter.innohassle_accounts %}
    innohassle_id: str
    {%- endif %}
