{% if cookiecutter.database == "mongo" %}
from beanie import PydanticObjectId
{% endif %}
{%- if cookiecutter.innohassle_accounts %}
from src.modules.inh_accounts_sdk import UserTokenData
{%- endif %}
from src.pydantic_base import BaseSchema


class CreateUser(BaseSchema):
    {%- if cookiecutter.innohassle_accounts %}
    innohassle_id: str
    {%- endif %}
    {%- if cookiecutter.login_and_password %}
    login: str
    password: str
    {%- endif %}
    {%- if not cookiecutter.innohassle_accounts and not cookiecutter.login_and_password %}
    pass
    {%- endif %}

{%- if cookiecutter.login_and_password %}


class LoginUser(BaseSchema):
    login: str
    password: str
{%- endif %}


class ViewUser(BaseSchema):
    {%- if cookiecutter.database == "mongo" %}
    id: PydanticObjectId
    {%- endif %}
    {%- if cookiecutter.innohassle_accounts %}
    innohassle_id: str
    {%- endif %}
    {%- if not cookiecutter.database == "mongo" and not cookiecutter.innohassle_accounts %}
    pass
    {%- endif %}


class UserAuthData(BaseSchema):
    {%- if cookiecutter.database == "mongo" %}
    user_id: PydanticObjectId {%- if cookiecutter.innohassle_accounts %} | None {%- endif %}
    {%- endif %}
    {%- if cookiecutter.innohassle_accounts %}
    user_token_data: UserTokenData
    {%- endif %}
    {%- if not cookiecutter.database == "mongo" and not cookiecutter.innohassle_accounts %}
    pass
    {%- endif %}
