__all__ = ["User", "UserRole"]

from enum import StrEnum

from pymongo import IndexModel

from src.pydantic_base import BaseSchema
from src.storages.mongo.__base__ import CustomDocument


class UserRole(StrEnum):
    DEFAULT = "default"
    ADMIN = "admin"


class UserSchema(BaseSchema):
    {%- if cookiecutter.innohassle_accounts %}
    innohassle_id: str
    {%- endif %}
    {%- if cookiecutter.login_and_password %}
    login: str
    password_hash: str
    {%- endif %}
    role: UserRole = UserRole.DEFAULT


class User(UserSchema, CustomDocument):
    class Settings:
        indexes = [
            {%- if cookiecutter.innohassle_accounts %}
            IndexModel("innohassle_id", unique=True),
            {%- endif %}
            {%- if cookiecutter.login_and_password %}
            IndexModel("login", unique=True),
            {%- endif %}
        ]
