__all__ = ["CreateUser", "ViewUser"]
{% if cookiecutter.database == "mongo" %}
from beanie import PydanticObjectId
{% endif %}
from src.pydantic_base import BaseSchema


class CreateUser(BaseSchema):
    {%- if cookiecutter.innohassle_accounts %}
    innohassle_id: str
    {%- endif %}
    email: str
    name: str | None = None


class ViewUser(BaseSchema):
    {%- if cookiecutter.database == "postgres" %}
    id: int
    {%- elif cookiecutter.database == "mongo" %}
    id: PydanticObjectId
    {%- endif %}
    {%- if cookiecutter.innohassle_accounts %}
    innohassle_id: str
    {%- endif %}
    email: str
    name: str | None = None


class UserTokenData(BaseSchema):
    {%- if cookiecutter.database == "postgres" %}
    user_id: int
    {%- elif cookiecutter.database == "mongo" %}
    user_id: PydanticObjectId
    {%- endif %}
    {%- if cookiecutter.innohassle_accounts %}
    innohassle_id: str
    {%- endif %}
