$schema: "./settings.schema.yaml"
environment: development
{%- if cookiecutter.database == "mongo" %}
database_uri: null # Database URL, f.e. "mongodb://mongoadmin:secret@localhost:27017/db?authSource=admin"
{%- elif cookiecutter.database == "postgres" %}
database_uri: null # Database URL, f.e. "postgresql+asyncpg://postgres:postgres@localhost:5432/postgres"
{%- endif %}
{%- if cookiecutter.session %}
session_secret_key: null # use `openssl rand -hex 32` to generate a random key
{%- endif %}
{%- if cookiecutter.innohassle_accounts %}
accounts:
  # get from https://api.innohassle.ru/accounts/v0/tokens/generate-service-token?sub=service-name&scopes=users&only_for_me=true
  api_jwt_token: null
{%- endif %}
